* {
  outline: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  padding: 0;
  margin:0;

  /* overflow-x:hidden; */
}

.paintings {
  /* position: relative; */
  min-height: 100vh;
  min-width:100vh;
  display: flex;
  flex-direction: row;
  /* max-width: 500px; */
}

.colors {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex:1 0 6em;
  padding: 32px;
  color: #ffffff;
  box-shadow: 0 0 30px grey;
  overflow: hidden;
  transition: flex-basis 0.6s ease-in-out;
  /* transition: top 0.8s ease-in-out .5s; */
}
.colors:hover {
  /* padding-left: 256px;: */
  flex-basis: 15em;
  /* top: 20px; */
  /* background: blue; */
}

h2 {
  opacity: 0;

}

h1 {
  /* margin:100px 0;  */
  text-decoration: underline;
  transition: color .7s ease-in-out;
}


.first-color {
  color: #f58c35;
}

.second-color {
  color: #f5DE35;
}

.third-color {
  color: #35f5a4;
}
.fourth-color {
  color: #35eff5;
}
.fifth-color {
  color: #a935f5;
}
.sixth-color {
  color: #f535d2;
}


.black-color {
  color: #000000;
}

/* medai queries */
@media (max-width:688px){
  /* h1 {

  text-align: 10px auto;
  } */



}
